[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
pylint-django = "*"
django-heroku = "*"
django-htmx = "*"
django-mathfilters = "*"
django-fontawesome-5 = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
