asgiref==3.5.0
astroid==2.11.2
atomicwrites==1.4.0
attrs==21.4.0
colorama==0.4.4
cssselect2==0.5.0
dill==0.3.4
dj-database-url==0.5.0
Django==4.0.4
django-ckeditor-filebrowser-filer==0.2.0b12
django-classy-tags==3.0.1
django-cms==3.9.0
django-filer==2.1.2
django-fontawesome-5==1.0.18
django-formtools==2.3
django-heroku==0.3.1
django-htmx==1.9.0
django-js-asset==2.0.0
django-jsonfield==1.4.1
django-mathfilters==1.0.0
django-mptt==0.13.4
django-polymorphic==3.0.0
django-sekizai==3.0.1
django-treebeard==4.5.1
djangocms-admin-style==3.0.0
djangocms-history==2.0.0
easy-thumbnails==2.8.1
gunicorn==20.1.0
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
lxml==4.8.0
mccabe==0.7.0
packaging==21.3
Pillow==9.0.1
platformdirs==2.5.1
pluggy==1.0.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
py==1.11.0
pylint==2.13.5
pylint-django==2.5.3
pylint-plugin-utils==0.7
pyparsing==3.0.8
pytest==7.1.1
pytz==2021.3
reportlab==3.6.8
six==1.16.0
sqlparse==0.4.2
svglib==1.2.1
tinycss2==1.1.1
tomli==2.0.1
tzdata==2022.1
Unidecode==1.1.2
webencodings==0.5.1
whitenoise==6.0.0
wrapt==1.14.0
